/*важность на уровне index.css, только тут стили отвечают за универсальные маленькие конструкции*/

tr {
    text-align: left;
}
th {
    font: initial;
    padding-right: 10px;
}

.df_column {
    display: flex;
    flex-direction: column;
}

.dfw_row_jcc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.switching {
    display: flex;
    gap: 30px;
    align-items: center;
    user-select: none;
}
.switching > div {
    cursor: pointer;
}