*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

/*тут расположить универсальные стили для всех страниц и заголовка*/

:root {
    --background: #05000d;
    --line-1: #9d00ff;
    --hovered-element: #55ff00; /*16*/
    --clicked-element: #a91eff; /*4*/
    --blocked-element: #ff6500; /*7*/
    --test-element: #00eeff; /*13, ugly in header, md use for links*/
    /*find better names*/
    --text-color-1: #b134ff;
    --text-color-2: #a168ff;
    --text-color-3: #ae7dff;
    /*tests*/
    --container-1: #210059;
    --container-2: #6000FF;
    --container-3: #05000d; /*пошаманить с прозрачностью*/
}

body {
    background: var(--background);
    color: #fff;
}

.mainframe {
    margin: 70px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.svg__list {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.svg__zodiac {
    max-width: 150px;
    width: 100%;
    height: 150px;
    fill: url(#gradient);
    margin: 10px 40px;
    /*from #e40ff3 to #05d6fe*/
}

.svg__translator {
    width: 30px;
    height: 20px;
    fill: #fff;
    margin: 0 15px 0 10px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    max-height: 60px;
    min-height: 38px;
    border-bottom: 2px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--background);
}

.header__button__language {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.default__label {
    cursor: pointer;
}
.change__language {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background: #101029;
    padding: 10px 20px;
    gap: 15px;
    border-radius: 0 0 5px 5px;
}

.change__language:before {
    content: "";
    position: absolute;
    border: 1rem solid transparent;
    border-bottom-color: #101029;
    margin-left: auto;
    margin-top: auto;
    top: calc(-2rem + 2px);
    right: 5px;
}

.language__item {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff00;
}
.language__item:hover {
    border-bottom: 1px solid var(--blocked-element);
}
.choosed_lang {
    border-bottom: 1px solid #fff;
    cursor: default;
}

.header__big {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 29px;
    font-family: sans-serif;
    margin: 0 5%;
}

.header__item {
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
    z-index: 1;
}

.section__main {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.default__link {
    color: var(--text-color-2);
    text-decoration: none;
}

.header__item:hover, .default__link:hover {
    color: var(--blocked-element);
}
.default__link:focus {
    color: var(--test-element);
}
.header__item:focus {
    color: var(--clicked-element);
}/*
.header__item:active {
    color: var(--test-element);
}*/

.header__small {
    display: none;
}

.menu__button {
    position: relative;
}
#menu__toggle, #checkbox_translate{
    display: none;
}
#menu__toggle:checked ~ .header__dropdown {
    left: 0;
}
#checkbox_translate:checked ~ .change__language {
    display: flex;
}

.toggle__bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
}

.header__dropdown {
    flex-direction: column;
    text-align: center;
    position: fixed;
    left: -768px;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.5s ease;
    z-index: 4;
}

.dropdown__field {
    height: 100%;
    background: #080114;
}

.dropdown__closing {
    background: #000;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #fff;
    height: 38px;
}

.cross {
    background: #fff;
    width: 1em;
    height: 1em;
    clip-path: polygon(25% 5%, 5% 25%, 35% 50%, 5% 75%, 25% 95%, 50% 65%, 75% 95%, 95% 75%, 65% 50%, 95% 25%, 75% 5%, 50% 35%);
}

.header__dropdown__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    padding: 5px 20px 5px 25px;
    font-size: 20px;
    font-family: 'Robot', sans-serif;
    color: #fff;
    border-bottom: 2px solid #545454;
}

.arrow__dropdown {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}

.arrow {
    width: 16px;
    height: 16px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(135deg);
    transition: 0.4s ease;
    margin-left: 12px; /*если будет лагать проверить это свойство*/
}

.dropdown__item_hidden {
    display: none;
}
.arrow__dropdown_input {
    display: none;
}
.arrow__dropdown_input:checked + .arrow__dropdown .arrow{
    transform: rotate(45deg);
}
.arrow__dropdown_input:checked ~ .dropdown__item_hidden {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 16px;
}


@media (max-width: 768px) {
    .header__small {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .header__big, .header__button__language {
        display: none;
    }
}

@media (max-width: 500px) {

}
