*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

/*тут расположить универсальные стили для всех страниц и заголовка*/

:root {
    --background: #05000d;
    --line-1: #9d00ff;
    --hovered-element: #55ff00; /*16*/
    --clicked-element: #a91eff; /*4*/
    --blocked-element: #ff6500; /*7*/
    --test-element: #00eeff; /*13, ugly in header, md use for links*/
    /*find better names*/
    --text-color-1: #b134ff;
    --text-color-2: #a168ff;
    --text-color-3: #ae7dff;
    /*tests*/
    --container-1: #210059;
    --container-2: #6000FF;
    --container-3: #05000d; /*пошаманить с прозрачностью*/
}

body {
    background: var(--background);
    color: #fff;
}

.mainframe {
    margin: 70px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.svg__list {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.svg__zodiac {
    width: 100%;
    height: 150px;
    fill: url(#gradient);
    /*from #e40ff3 to #05d6fe*/
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    max-height: 60px;
    border-bottom: 2px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--background);
}

.header__field {
    /*later*/
}

.header__items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 29px;
    font-family: sans-serif;
    margin: 0 5%;
}

.header__item {
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
    z-index: 1;
}

.section__main {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}


.header__item:hover {
    color: var(--blocked-element);
}
.header__item:focus {
    color: var(--clicked-element);
}/*
.header__item:active {
    color: var(--test-element);
}*/


@media (max-width: 768px) {
    .section__main {
        margin: 56px 10px 20px 10px;
    }
    .header__field {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

@media (max-width: 500px) {
    .section__main {
        margin: 56px 0 20px 0;
    }
}
