
.area__calendar {

}

.field__moon_calendar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.calendar__header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.calendar__header__item {
    display: flex;
    justify-content: center;
    width: calc(100% / 4);
    border: 1px solid #fff;
}

.calendar__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    border: 1px solid #fff;
    min-height: 2em;
    padding: 2px;
}
.cell__invisible {
    color: #ffffff00;
}


.area__additional_tables {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 150px; /*change*/
}

.field__phase_calendar, .field__events_calendar {
    display: flex;
    flex-direction: column;
}
.new_moon, .first_quarter, .full_moon, .last_quarter {
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 100%;
    margin-left: 3px;
    margin-right: 6px;
}
.first_quarter {
    background: linear-gradient(to right, #ffffff00 50%, #fff 50%);
}
.full_moon {
    background: #fff;
}
.last_quarter {
    background: linear-gradient(to right, #fff 50%, #ffffff00 50%);
}

.lunar_phases {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
.phase_month {
    width: 15%;
    margin-right: 20px;
}
.monthly_lunar_phases {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.monthly_lunar_events {
    display: flex;
    flex-direction: column;
}
.phase__event {
    display: flex;
    justify-content: space-between;
}
.cell__phase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46px;
}

/*тестовые эелементы будут либо удалены либо изменены*/
.testing__h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testing__switching {
    display: flex;
    gap: 30px;
    cursor: pointer;
    align-items: center;
}


.field__moon__illumination {
    display: flex;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 30px;
}
.moon_shadow {

}
.svg__moon {
    width: 100%;
    height: 150px;
    max-width: 150px;
    min-width: 100px;
}
#moon-shadow {
    fill: #00000099
}

.field__moon__description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.event__header {
    margin-bottom: 3px;
    font-family: sans-serif;
    font-weight: 800;
}

.area__events_description {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.event__spacing {
    display: flex;
    width: 100%;
    height: 1px;
    margin-bottom: 12px;
    background: linear-gradient(to left, rgba(255, 99, 71, 0) 0%, rgb(27 198 255) 50%, rgba(255, 99, 71, 0) 100%);
}

@media (max-width: 450px) {
    .field__moon__illumination {
        justify-content: center;
    }
    .field__moon__description {
        flex-grow: 1;
    }
}