.area__solar_system {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.field__solar_system {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
}

.svg__solar_system {
    overflow: visible;
}
.mercury {fill: #fffccb}
.venus {fill: #fff08c}
.earth {fill: #4b84ff}
.mars {fill: #e15d5d}
.jupiter {fill: #ffad4d}
.saturn {fill: #fff200}
.uranus {fill: #59ff91}
.neptune {fill: #0064ff}
.pluto {fill: #dcdcdc}

.spinner__stroke {
    stroke: #ffffff30;
    stroke-width: 1;
    fill: none;
}

.planet__sun {
    fill: #f19f06;
    color: #000;
}

.planet {
    transition: transform 0.5s ease-in-out;
}
.planet_label {
    fill: #fff;
    font-size: 4px;
    font-family: Arial, sans-serif;
    text-anchor: start;
    user-select: none;
}

